<div class="row">
  <div class="col-md-4">
    <div class="card rounded-lg" style="width: 17.5rem">
      <img
        class="card-img-top"
        src="https://upload.wikimedia.org/wikipedia/en/3/39/JaxTeller.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">CEO</h5>
        <p class="card-text">
          A chief executive officer (CEO), chief administrator, or just chief
          executive (CE), is one of a number of corporate executives in charge
          of managing an organization – especially an independent legal entity
          such as a company or nonprofit institution.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <br />
  <div class="col-md-4">
    <div class="card rounded-lg" style="width: 17.5rem">
      <img class="card-img-top" src="#" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Text2</h5>
        <p class="card-text">
          A quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rounded-lg" style="width: 17.5rem">
      <img class="card-img-top" src="#" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Text3</h5>
        <p class="card-text">
          A quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4">
    <div class="card rounded-lg" style="width: 17.5rem">
      <img class="card-img-top" src="#" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Text1</h5>
        <p class="card-text">
          A quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rounded-lg" style="width: 17.5rem">
      <img class="card-img-top" src="#" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Text2</h5>
        <p class="card-text">
          A quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card rounded-lg" style="width: 17.5rem">
      <img class="card-img-top" src="#" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Text3</h5>
        <p class="card-text">
          A quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
