<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %> 
    <h1>Random Number</h1>
    <div>
      <p align="center">Random Num is : <%= num %>
      <% if(num%2===0){%>
        <h2 align="center">EVEN Number</h2>
     <% }else if(num%2!==0){ %>
      <h2 align="center">ODD Number</h2>
      <%} %>
      </p>
    </div>
  </body>
</html>
